<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width",initial-scale="1">
  <style>
  form{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;width:100%;border:2px outset;border-top:0px;text-decoration: none;font-size: 30px;padding:5px 10px;margin:auto;text-align:center}
  
  </style>
      {%if title%}
      <title>{{title}}-JARVIS</title>
      {%else%}
      <title>JARVIS</title>
      {%endif%}
    </head>
    <body>
    
      {%block content%}
      {%endblock%}
       
</body>
</html>