{% extends "base.html" %}
{%block title%}Hompage{%endblock%}

{%block content%}


<form action=# method="post">
    Nirjal's search engine
    <input type="text" placeholder="Type a command" name="comm" style="margin:0px 10px;padding:4px 10px;border:3px rgb(43, 39, 39) ;border-right:0px;height:30px;width:400px;">
    <input type="submit" style="height:30px;border:0px;border:3px rgb(43, 39, 39)">
</form>
<center><h5>Type a thing we will return the best thing</h5></center>
<hr>
<br>
{%for r in results%}
<a href="{{r['link']}}" style="padding:20px;margin:20px;background-color: darkgoldenrod;color:white; border:3px white; text-decoration:none">{{r['query']}}</a>

{%endfor%}
{%endblock%}